header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
}

#logoPinterest,
#user {
  height: 30px;
  width: 30px;
}

#logoPinterest {
  cursor: pointer;
}

#commentDots {
  height: 30px;
  width: 35.71px;
}

#iconBell {
  height: 30px;
  width: 25px;
}

@media screen and (max-width: 640px) {
  #iconBell,
  #commentDots {
    display: none;
  }
}
